events {}
http {
    upstream backend {
           server {{ ansible_default_ipv4.address }}:8080;
    }
 server {
   listen 80;
   location / {
     proxy_pass  http://backend;
   }
 }

 server {

    listen 443 default_server;
    server_name www.example.com;

    ssl on;
    ssl_certificate /etc/nginx/ssl/server.crt;
    ssl_certificate_key /etc/nginx/ssl/server.key;
    ssl_session_cache shared:SSL:10m;

    location / {

        proxy_pass http://backend; # my existing apache instance
        proxy_set_header Host $host;

        # re-write redirects to http as to https, example: /home
        proxy_redirect http:// https://;
    }
}

}
